#Header
	.header
		.header-content
			a.logo-area(href="/")
				img.img-logo(src="/images/logo.png" alt="Logo")
				if locale && locale.header && locale.header.title
					span.logo-text #{locale.header.title}

			.menu-area
				.mobile-menu-toggle
					button#menu-toggle-button(
						type="button"
						aria-expanded="false"
						aria-controls="main-menu"
					)
						span.menu-icon ☰

				ul#main-menu.menu
					li.menu-item
						a(href="/") #{locale.header.home}
					li.menu-item
						a(href="/verifier/public/definitions") #{locale.header.requestCredentials}
					li.menu-item
						a(href="/verifier/public/manage-certificates") #{locale.header.manageCertificates}
		.header-border

script(src="/js/header.js" defer)
