extends layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/index.css")

block layout-content
	section.index
		.index__container.container
			.index__content
				h1 #{locale.index.heading}
				p.index__subtitle #{locale.index.paragraph}

				form(method="POST").index__actions
					button.Btn #{locale.index.verifyCredential}
					input(type="hidden" name="verifier" value="true")

					h4.section-title #{locale.index.oid4vpProfile}
					table.oid4vp-table
						tbody
							for row of locale.index.openid4vp
								tr
									td #{row[0]}
									td #{row[1]}

			.index__media(aria-hidden="true")
				.img-home
					include ../partials/svg/img-home.svg

block body-scripts
	script(src="/js/index.js" defer)
