extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/manage-certificates.css")

block layout-content
	section
		.container.container__flexed
			header.page__header
				h2 #{locale.manageCertificates.title}
				p.subtitle #{locale.manageCertificates.subtitle}

			if error
				p.certs-page__error= error.errorMessage

			// Add certificate
			.card__container
				form.form-layout(method="POST" action="/verifier/public/manage-certificates")
					.form-field
						label.form-label(for="certificate") #{locale.manageCertificates.addCertificateLabel}
						p.form-hint #{locale.manageCertificates.certificateHint}
						textarea.form-control#certificate(name="certificate" rows="10" placeholder="-----BEGIN CERTIFICATE----- ...")

					button.Btn.Btn--block(type="submit") #{locale.manageCertificates.addButton}
			// Trusted roots list
			.card__container.form-layout
				if !trustedRootCertificates || trustedRootCertificates.length === 0
					h4 #{locale.manageCertificates.trustedRootsTitle}
					p.form-hint #{locale.manageCertificates.noCertificates}
				else
					.cert-container
						h4 #{locale.manageCertificates.trustedRootsTitle}
						details(open)
							summary #{locale.manageCertificates.pemSummary}
							pre !{trustedRootCertificates.join('\n\n')}

						details
							summary #{locale.manageCertificates.base64Summary}
							- const base64Certs = trustedRootCertificates.map((cert) => cert.replace('-----BEGIN CERTIFICATE-----', '').replace('-----END CERTIFICATE-----', '').replace(/\n/g, '')).join('\n\n')
							pre !{base64Certs}
