extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/manage-certificates.css")

block layout-content
	section
		.container.container__flexed
			header.page__header
				h2 #{locale.manageCertificates.title}
				p.subtitle #{locale.manageCertificates.subtitle}

			if error
				p.certs-page__error= error.errorMessage

			// Add certificate
			.card__container
				h2.certs-page__sectionTitle #{locale.manageCertificates.addCertificate}
				form.certs-form(method="POST" action="/verifier/public/manage-certificates")
					.field
						label.config-pres__label(for="certificate") #{locale.manageCertificates.certificateLabel}
						textarea#certificate(name="certificate" rows="10" placeholder="-----BEGIN CERTIFICATE----- ...")
						p.config-pres__hint #{locale.manageCertificates.certificateHint}

					button.Btn.Btn--block(type="submit") #{locale.manageCertificates.addButton}
			// Trusted roots list
			.presentation-card
				h2.certs-page__sectionTitle #{locale.manageCertificates.trustedRoots}

				if !trustedRootCertificates || trustedRootCertificates.length === 0
					p.config-pres__hint #{locale.manageCertificates.noCertificates}
				else
					.cert-container
						details(open)
							summary #{locale.manageCertificates.pemSummary}
							pre !{trustedRootCertificates.join('\n\n')}

						details
							summary #{locale.manageCertificates.base64Summary}
							- const base64Certs = trustedRootCertificates.map((cert) => cert.replace('-----BEGIN CERTIFICATE-----', '').replace('-----END CERTIFICATE-----', '').replace(/\n/g, '')).join('\n\n')
							pre !{base64Certs}
