extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/presentation-request.css")

block layout-content
	section
		.container.container__flexed
			header.page__header
				h2 #{locale.presentationRequest.title}
				p.subtitle #{locale.presentationRequest.subtitle}

			.card__container
				form.form-layout(name="PresentationRequestForm" method="POST")
					.centered-layout
						img#qr-image(src=authorizationRequestQR alt="QR Code")

						.qr-url-block
							p#qrURLDisplay.qr-url #{authorizationRequestURL}

						.buttons
							- const modifiedURL = authorizationRequestURL.replace("openid4vp://cb", wwwalletURL)
							button.Btn(type="submit" name="action" value=`${modifiedURL}`) #{locale.presentationRequest.buttons.OpenWithwwwallet}
							button.Btn(type="submit" name="action" value=`${authorizationRequestURL}`) #{locale.presentationRequest.buttons.OpenWithNativeWallet}

						input(type="hidden" name="state" id="state" value=state)
						input(type="hidden" name="authorizationRequestQR" id="authorizationRequestQR" value=authorizationRequestQR)
						input(type="hidden" name="authorizationRequestURL" id="authorizationRequestURL" value=authorizationRequestURL)

			- const parsedDefinition = JSON.parse(presentationRequest)
			- const summaryLabel = "DCQL Query"

			.scan-qr__dcql
				details.details-toggle
					summary #{summaryLabel}
					.dcql-query-block
						textarea.dcql-query(readonly rows="20") !{JSON.stringify(parsedDefinition, null, 2)}

block body-scripts
	script(src="/js/presentation-request.js" defer)
