extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/request-credentials.css")
	link(rel="stylesheet" href="/styles/checkbox.css")

block layout-content
	section
		.container.container__flexed
			header.page__header
				h2 #{locale.requestCredentials.title}
				p.subtitle #{locale.requestCredentials.subtitle}

			.card__container
				form.form-layout(
					action=`/verifier/public/definitions/presentation-request/${presentationRequestId}`
					method="POST"
				)
					.form-field
						span.form-label #{locale.requestCredentials.format.label}
						div(class="radio-container")
							label(class="radio-field" for="radioSDJWT")
								input(type="radio" name="type" id="radioSDJWT" value="sd-jwt")
								span #{locale.requestCredentials.format.sdjwt}
							label(class="radio-field" for="radioMDOC")
								input(type="radio" name="type" id="radioMDOC" value="mdoc")
								span #{locale.requestCredentials.format.mdoc}

					.form-field
						h4 #{locale.requestCredentials.attributes.label}
						.checkbox-controls
							button.Btn.Btn--xs(type="button" id="select-all") #{locale.requestCredentials.attributes.all}
							button.Btn.Btn--xs(type="button" id="select-none") #{locale.requestCredentials.attributes.none}

						div#attributes-container
							// populated by JS

					.form-field
						span.form-label #{locale.requestCredentials.clientIdPrefix.label}
						div(class="radio-container")
							label(class="radio-field" for="radioClientIdPrefixSanDns")
								input(
									type="radio"
									name="clientIdPrefix"
									id="radioClientIdPrefixSanDns"
									value="x509_san_dns"
									checked
								)
								span x509_san_dns
							label(class="radio-field" for="radioClientIdPrefixHash")
								input(
									type="radio"
									name="clientIdPrefix"
									id="radioClientIdPrefixHash"
									value="x509_hash"
								)
								span x509_hash

					input#descriptorId(type="hidden" name="descriptorId" value="")
					input(type="hidden" id="dcql-query-input" name="dcql_query")

					button.Btn.request-qr(type="submit") #{locale.requestCredential}

block body-scripts
	script(
		src="/js/request-credentials.js"
		defer
		data-fields=`${JSON.stringify(selectableFields)}`
		data-dcql-query=`${JSON.stringify(dcqlQuery)}`
		data-presentation-id=`${presentationRequestId}`
	)
