extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/configurable-presentation.css")
	link(rel="stylesheet" href="/styles/checkbox.css")
	//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

block layout-content
	section
		.container.container__flexed
			header.page__header
				h2 Configure your Presentation Request
				p.subtitle Choose format and fields, then request a QR.

			.presentation-card
				form.presentation-form(
					action=`/verifier/public/definitions/presentation-request/${presentationRequestId}`
					method="POST"
				)
					.field
						label.config-pres__label(for="type") Format
						select#type.dropdown(name="type")
							option(value="sd-jwt") SD-JWT
							option(value="mdoc") MDOC

					.field
						h4.config-pres__label Select Attributes
							div.checkbox-controls
								button.Btn.Btn--xs(type="button" id="select-all") Select all
								button.Btn.Btn--xs(type="button" id="select-none") Select none

						div#attributes-container.config-pres__attributes
							// populated by JS

					.field
						label.config-pres__label(for="scheme") Scheme
						textarea#scheme(name="scheme" maxlength="128") openid4vp://cb
						p.config-pres__hint Keep the default unless you need a custom scheme.

					input#descriptorId(type="hidden" name="descriptorId" value="")
					input(type="hidden" id="dcql-query-input" name="dcql_query")

					button.Btn.request-qr(type="submit") Request

block body-scripts
	script(
		src="/js/configurable-presentation.js"
		defer
		data-fields=`${JSON.stringify(selectableFields)}`
		data-dcql-query=`${JSON.stringify(dcqlQuery)}`
		data-presentation-id=`${presentationRequestId}`
	)
