extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/request-credentials.css")
	link(rel="stylesheet" href="/styles/checkbox.css")
	//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

block layout-content
	section
		.container.container__flexed
			header.page__header
				h2 Configure your Presentation Request
				p.subtitle Choose format and fields, then request a QR.

			.card__container
				form.form-layout(
					action=`/verifier/public/definitions/presentation-request/${presentationRequestId}`
					method="POST"
				)
					.form-field
						label.form-label(for="type") Select Format
						select#type.form-control(name="type")
							option(value="sd-jwt") SD-JWT
							option(value="mdoc") MDOC

					.form-field
						h4 Select Attributes
						.checkbox-controls
							button.Btn.Btn--xs(type="button" id="select-all") Select all
							button.Btn.Btn--xs(type="button" id="select-none") Select none

						div#attributes-container
							// populated by JS

					.form-field
						label.form-label(for="scheme") Scheme
						p.form-hint Keep the default unless you need a custom scheme.
						textarea#scheme.form-control(name="scheme" maxlength="128") openid4vp://cb

					input#descriptorId(type="hidden" name="descriptorId" value="")
					input(type="hidden" id="dcql-query-input" name="dcql_query")

					button.Btn.request-qr(type="submit") Request

block body-scripts
	script(
		src="/js/request-credentials.js"
		defer
		data-fields=`${JSON.stringify(selectableFields)}`
		data-dcql-query=`${JSON.stringify(dcqlQuery)}`
		data-presentation-id=`${presentationRequestId}`
	)
