extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/request-credentials.css")
	link(rel="stylesheet" href="/styles/checkbox.css")
	//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")

block layout-content
	section
		.container.container__flexed
			header.page__header
				h2 #{locale.requestCredentials.title}
				p.subtitle #{locale.requestCredentials.subtitle}

			.card__container
				form.form-layout(
					action=`/verifier/public/definitions/presentation-request/${presentationRequestId}`
					method="POST"
				)
					.form-field
						label.form-label(for="type") #{locale.requestCredentials.format.label}
						select#type.form-control(name="type")
							option(value="sd-jwt") #{locale.requestCredentials.format.sdjwt}
							option(value="mdoc") #{locale.requestCredentials.format.mdoc}

					.form-field
						h4 #{locale.requestCredentials.attributes.label}
						.checkbox-controls
							button.Btn.Btn--xs(type="button" id="select-all") #{locale.requestCredentials.attributes.all}
							button.Btn.Btn--xs(type="button" id="select-none") #{locale.requestCredentials.attributes.none}

						div#attributes-container
							// populated by JS

					.form-field
						label.form-label(for="scheme") #{locale.requestCredentials.schema.label}
						p.form-hint #{locale.requestCredentials.schema.hint}
						textarea#scheme.form-control(name="scheme" maxlength="128") #{locale.requestCredentials.schema.default}

					input#descriptorId(type="hidden" name="descriptorId" value="")
					input(type="hidden" id="dcql-query-input" name="dcql_query")

					button.Btn.request-qr(type="submit") #{locale.requestCredential}

block body-scripts
	script(
		src="/js/request-credentials.js"
		defer
		data-fields=`${JSON.stringify(selectableFields)}`
		data-dcql-query=`${JSON.stringify(dcqlQuery)}`
		data-presentation-id=`${presentationRequestId}`
	)
