extends ./layout.pug

block head-styles
	link(rel="stylesheet" href="/styles/request-custom-credential.css")
	link(rel="stylesheet" href="/styles/jsoneditor.css")

block layout-content
	section
		.container.container__padded.container__flexed
			header.page__header
				h2 #{locale.customRequestCredential.title}
				p.subtitle #{locale.customRequestCredential.subtitle}

			if error
				p.request-custom__error= error.errorMessage

			if error
				p= error.errorMessage

			.card__container
				form.form-layout(method="POST" action="/verifier/public/definitions/request-custom-credential")

					.form-field
						label.form-label(for="scheme") #{locale.customRequestCredential.scheme.label}
						textarea.form-control(name="scheme" maxlength="128") #{locale.customRequestCredential.scheme.default}

					.form-field
						label.form-label(for="dcqlQuery") #{locale.customRequestCredential.dcqlQuery.label}
						p.form-hint #{locale.customRequestCredential.dcqlQuery.hint}
						textarea.form-control(id="dcqlQueryText" name="dcqlQuery" style="display: none")
						div#jsoneditor.jsoneditor-host
					button.Btn.request-qr(type="submit" id="submit-btn") #{locale.requestCredential}
	script(src="https://cdn.jsdelivr.net/npm/jsoneditor@latest")
	script.
		const container = document.getElementById('jsoneditor');
			var schema = !{JSON.stringify(schema)};
			const options = {
			mode: 'code',
			modes: ['code', 'tree', 'view'],
			schema: schema,
			onValidationError: function(errors) {
				if (errors.length > 0) {
					document.querySelector("#submit-btn").disabled = true;
				} else {
					document.querySelector("#submit-btn").disabled = false;
				}
			}
		};

		const editor = new JSONEditor(container, options);

		editor.set({
			"credentials": [
				{
					"id": "minimalSdJwtPID",
					"format": "dc+sd-jwt",
					"meta": {
						"vct_values": [
							"urn:eudi:pid:1"
						]
					},
					"claims": [
						{
							"path": [
								"given_name"
							]
						},
						{
							"path": [
								"family_name"
							]
						},
						{
							"path": [
								"birthdate"
							]
						},
						{
							"path": [
								"nationalities"
							]
						},
						{
							"path": [
								"date_of_expiry"
							]
						},
						{
							"path": [
								"issuing_authority"
							]
						},
						{
							"path": [
								"issuing_country"
							]
						}
					]
				}
				]
			}
		);

		document.querySelector('#edit-dcql-query').addEventListener('submit', (e) => {
			e.preventDefault();
			const definition = editor.get();
			document.querySelector("#dcqlQueryText").innerText = JSON.stringify(definition);
			e.target.submit();
		});
